.homePageHeader{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:10;
    transition: all .3s;
    .tabs{
        position: relative;
        top:-1px;
    }
    svg{
        color:#fff!important;
    }
}