.lists{
    margin-top:110px;
}
.listItemLink{
    text-decoration: none;
}
.listItemTitle{
    span{
        padding-right:10px;
        font-weight:bold;
        line-height: 2em;
        font-size: 16px;
    }
}
.listItemInfo{
    span{
        margin-right:10px;
        font-weight:bold;
        font-size:14px;
    }
}