.detailTopicList{
    margin-top:64px;
    .topicTitle{
        overflow: hidden;
        >div >div{
            padding-bottom:0px!important;
        }
        .titleBox{
            overflow: hidden;
            position: relative;
            top:-10px;
        }
        .leftTitle{
            float:left;
            h3{
                height:40px;
                line-height:40px;
                font-size: 16px;
                max-width:100px;
                overflow: hidden;
            }
        }
        .rightTitle{
            text-align: right;
            float:right;
            div{
                height: 20px;
                line-height: 20px;
                color: #999;
                font-size: 14px;
            }
            p{
                font-size: 14px;
                color: #999;
            }
            i{
                margin-right:4px;
            }
        }
    }
    .main{
        padding: 0 20px 20px;
        p{
            text-indent: 2em;
            line-height:28px;
            a{
                word-break: break-all;
            }
        }
        img{
            display: block;
            margin: 20px auto;
            width: 600px;
        }
        h1{
            font-size:20px;
            text-align:center;
            height:40px;
            line-height:40px;
            margin-bottom:10px;
        }
        h2{
            font-size:16px;
        }
    }
    @media (max-width: 750px){
        .main{
            img{
                width: 80%;
            }
        }
    }
}
